html
 head
  link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='assets/bootstrap/js/bootstrap.min.js')
  script(src='main.js')
 body 
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
   .container
    .row
     .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
      .row
       .col-xs-6.col-sm-6
        .nav.navbar-nav.navbar-left
         a(href='#')
          img(src='assets/img/logo.png' style='height: 100%, width: auto')
       .col-xs-6.col-sm-6
        ul.nav.navbar-nav.navbar-right
         li.menus
          a(href='#')
           i.fa.fa-search
         li.menus
          a(href='#')
           i.fa.fa-heart
         li.menus
          a(href='#')
           i.fa.fa-shopping-cart
  .container
   .row.row-wiz
    .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
     .row.bs-wizard(style='border-bottom:0;')
       .col-xs-3.bs-wizard-step.active
        .text-center.bs-wizard-steptitle Data Sista
        .progress
         .progress-bar
        a.bs-wizard-dot(href='#step-1')
       .col-xs-3.bs-wizard-step.disabled
        .text-center.bs-wizard-steptitle Pilih Barang
        .progress
         .progress-bar
        a.bs-wizard-dot(href='#step-2')
       .col-xs-3.bs-wizard-step.disabled
        .text-center.bs-wizard-steptitle Data Retur
        .progress
         .progress-bar
        a.bs-wizard-dot(href='#step-3')
       .col-xs-3.bs-wizard-step.disabled
        .text-center.bs-wizard-steptitle Done!
        .progress
         .progress-bar
        a.bs-wizard-dot(href='#step-4')
  .container
   .row
     .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
      .panel.panel-default
       .panel-heading
        h3.panel-title
         | Pengembalian Barang
        p.panel-subtitle
         | Isi data Sista dulu ya
       .panel-body
        form(role='form')
         #step-1.row.setup-content
          .col-xs-12
           .col-md-12
            .form-group
             input.form-control.name-input(maxlength='100', type='text', required='required', placeholder='Nama Sista *')
            .form-group
             input.form-control(maxlength='100', type='text', placeholder='Email Sista')
            .form-group
             input.form-control(maxlength='100', type='text', placeholder='No. HP Sista')
            p.required * wajib diisi
            button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button', style='margin-bottom: 0 !important;') Lanjut
         #step-2.row.setup-content
          .col-xs-12
           .col-md-12
            .form-group.order-group
             .row.no-pad
              .col-xs-9.col-md-10
               input.order-input.form-control.container-fluid(maxlength='100', type='text', required='required', placeholder='Nomor Order *')
              .col-xs-3.col-md-2           
               span.input-group-btn
                button.btn.btn-default.order-button.btn-block.disabled(type='button') Load
           .col-md-12.goods
            h4 
             | Daftar barang
            hr
            .row.good-entry.no-pad
             .col-xs-1.col-sm-1
              .checkbox
               input(type='checkbox', value="", id="check1")
               label
             .col-xs-11.col-sm-11
              .row
               .col-xs-6.col-sm-8.good-info
                ul
                 li
                  .good-title Nama Item
                  p Kiraniar Plain Casual Cardigan
                 li
                  .good-title SKU
                  p RP-3994-ARL-4595
                 li
                  .good-title Harga Satuan
                  p 193000
               .col-xs-6.col-sm-4.good-more
                .form-group
                 .good-title.reason-title Alasan Retur
                 select#sel1.form-control
                  option Bolong
                  option Jahitan tidak rapi
                  option Kebesaran
                  option Kekecilan
                 .form-group
                  .good-title.photo-title Foto bukti
                  img#img-upload
                  .input-group
                   span.input-group-btn
                    span.btn.btn-default.btn-file.btn-block
                     | Upload
                     input#imgInp(type='file')
                   //input.form-control(type='text', readonly='')
            hr.good-hr
            .row.good-entry.no-pad
             .col-xs-1.col-sm-1
              .checkbox
               input(type='checkbox', value="", id="check2")
               label
             .col-xs-11.col-sm-11
              .row
               .col-xs-6.col-sm-8.good-info
                ul
                 li
                  .good-title Nama Item
                  p Kiraniar Plain Casual Cardigan Kiraniar Plain Casual Cardigan
                 li
                  .good-title SKU
                  p RP-3994-ARL-4595
                 li
                  .good-title Harga Satuan
                  p 193000
               .col-xs-6.col-sm-4.good-more
                .form-group
                 .good-title.reason-title Alasan Retur
                 select#sel1.form-control
                  option Bolong
                  option Jahitan tidak rapi
                  option Kebesaran
                  option Kekecilan
                 .form-group
                  .good-title.photo-title Foto bukti
                  img#img-upload
                  .input-group
                   span.input-group-btn
                    span.btn.btn-default.btn-file.order-button.btn-block
                     | Upload
                     input#imgInp(type='file')
                   //input.form-control(type='text', readonly='')
            hr 
            .btn-group.step2-btn
             button.btn.btn-primary.nextBtn.btn-lg.pull-right.disabled(type='button' style="margin-right: -10px !important;") Lanjut          
             button.btn.btn-primary.prevBtn.btn-lg.pull-right(type='button') Kembali
         #step-3.row.setup-content
          .col-xs-12
           .col-md-12
            .row
             .col-xs-7.col-sm-8.good-exp
              .form-group
               input.form-control(maxlength='100', type='text', placeholder='Biaya Kirim Balik')
              .form-group
               textarea.form-control(rows='3', placeholder='Keterangan')
             .col-xs-5.col-sm-4
               .form-group.good-ongkir
                .good-title.good-ongkir-title(style="margin-top: -2px; margin-bottom: 10px; text-align: left;") Foto bukti ongkir
                img#img-upload
                .input-group
                 span.input-group-btn
                  span.btn.btn-default.btn-file.btn-fu.order-button.btn-block(style="margin-top: -20px !important;")
                   | Upload
                   input#imgInp(type='file')
                 //input.form-control(type='text', readonly='')
            .btn-group
             button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button', style="margin-right:-10px;") Kirim
             button.btn.btn-primary.prevBtn.btn-lg.pull-right(type='button') Kembali
         #step-4.row.setup-content
          .col-xs-12
           h5
            | Terima kasih, laporan pengembalian barang Sista sudah kami terima.
            br
            i Cashback 
            |akan Soraya berikan dalam bentuk 
            i voucher 
            | belanja ke email Sista. :)
           .btn-group
            button.btn.btn-primary.done-btn.btn-lg.btn-block(type='button') Belanja lagi yuk, Sis!